.emoji{
    margin-top: 1rem;
    width: 30px;
    height: 30px;
}
.encabezado{
    border: 1px solid black;
}
.texto{
    font-family:'Edu+NSW+ACT+Foundation', cursive;
    display: flex;
    justify-content: center;
}
.menu{
    margin: 10px;
    border: 2px solid black;
}
.nombre{
    margin: 15px;
    border: 1px solid black;
    background-color: antiquewhite;
}
.pie_de_pagina{
    border: 1px solid black;
}
.caja{
    display: flex;
    justify-content: center;
    background-color: rgb(206, 208, 218);
    cursor: pointer;
}
.logo{
    font-family:'Edu+NSW+ACT+Foundation', cursive;
    font-size: 20px;
}
.imagen2{
    margin-top: 1rem;
    width: 200px;
    height: 200px;
    border: 1px solid black;

    display: flex;
    justify-content: center;
}
.imagenes{
    width: 100px;
    height: 50px;
}